@* Camiamos el modelo de dominio por el ViewModel *@
@model List<TiendaManga.ViewModels.MangaIndexViewModel> 

@{
    ViewData["Title"] = "Listado de Mangas";
}

<h2>Lista de Mangas</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Manga</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Numero de Tomos</th>
            <th>Demografía</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.Titulo</td>
                <td>@p.TomosPublicados</td>
                <td>@p.Demografia</td>
                <td>
                    <a asp-action="Update" asp-route-id="@p.Id">Modificar</a> |
                    <a asp-action="Delete" asp-route-id="@p.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>